<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Jリーグアウェイ遠征家計簿{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1>Jリーグアウェイ遠征家計簿</h1>
            <nav>
                <a href="{{ url_for('index') }}">トップ</a>
                <a href="{{ url_for('new_expense') }}">支出登録</a>
                <a href="{{ url_for('trips') }}">遠征一覧</a>
                <a href="{{ url_for('about') }}">アプリ説明</a>
            </nav>
            <hr>
        </header>

        <main>
            {% with messages = get_flashed_messages()%}
                {% if messages %}
                    <div class="flash-message">
                        {% for message in messages %}
                            <P class="flash-message">{{message}}</P>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith%}
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
