<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }}</title>
</head>
<body>
    <h1>{{ app_name }}</h1>
    <p>{{ description }}</p>
    <p><a href="/expenses/new">支出を登録する</a></p>
    <h2>支出一覧</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>カテゴリ</th>
            <th>金額</th>
            </tr>
            {%for expense in expenses %}
                <tr>
                    <td>{{expense.id}}</td>
                    <td>{{ expense.name}}</td>
                    <td>{{ expense.amount}}円</td>
                    <td>
                        <form method="post" action="{{url_for('delete_expense', expense_id=expense.id)}}">
                            <button type="submit">削除</button>
                        </form>
                    </td>
                </tr>
            {% endfor%}
            
            </table>
    <p>合計金額:{{total_amount}}円</p>
</body>
</html>