{% extends "base.html" %}

{% block title %}支出登録{% endblock %}

{% block content %}
    <h2>支出登録</h2>

    {%if error%}
        <p class="error">{{error}}</p>
    {% endif %}

    <form method="post">
        <div>
            <label for="name">カテゴリ名</label>
            <select id="name" name="name">
                <option value="">選択してください</option>
                {% for category in categories %}
                    <option value="{{ category }}" {% if name == category %}selected {% endif %}>
                        {{ category }}
                </option>
            {% endfor %}
            </select>
        </div>

        <div>
            <label for="amount">金額</label>
            <input type="number" id="amount" name="amount" value="{{amount_text}}">
        </div>

        <button type="submit">登録</button>
    </form>
{% endblock %}